/* jewlr Hero Banner Styles */
.jewlr-hero-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.jewlr-hero-banner__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.jewlr-hero-banner__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.jewlr-hero-banner__video-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.jewlr-hero-banner__video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
  display: block;
}

iframe.jewlr-hero-banner__video {
  pointer-events: none;
}

/* Mobile First - Show Mobile Image by default, Hide Desktop Image */
.jewlr-hero-banner__image--desktop {
  display: none;
}

.jewlr-hero-banner__image--mobile {
  display: block;
}

@media screen and (min-width: 48rem) {
  .jewlr-hero-banner__image--desktop {
    display: block;
  }

  .jewlr-hero-banner__image--mobile {
    display: none;
  }
}

.jewlr-hero-banner::after {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  z-index: 1;
}

.jewlr-hero-banner .hero-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.jewlr-hero-banner .hero-content {
  width: 100%;
  padding: 60px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.jewlr-hero-banner--show-content-bg .hero-content {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
}

.jewlr-hero-banner .hero-heading {
  margin-top: 0;
}

.jewlr-hero-banner .hero-subheading {
  margin: 0;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@media (max-width: 749px) {
  .jewlr-hero-banner .hero-container {
    align-items: flex-end;
  }

  .jewlr-hero-banner .hero-content {
    align-items: center;
    text-align: center;
    padding: 20px;
    width: auto;
    max-width: 100%;
  }
}

.jewlr-hero-banner .hero-image.placeholder {
  background-color: #db0d0d;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jewlr-hero-banner .placeholder-svg {
  width: 100%;
  height: 100%;
  max-height: 200px;
}
